/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Times New Roman", Times, serif;  /* Change font to Times New Roman */
    background-color: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container Styling */
.login-container {
    background-color: #f5f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(207, 206, 206);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #2ea2f0d3;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: rgb(7, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    margin-top: 10px;
}
